<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Online Forms</title>
</head>

<body>
    <main>
        <div id="tabs">
            <button id="administration" class="active">Administration</button>
            <button id="forms">Forms</button>
        </div>
        <form action="" id="search-admin">
            <label>Form's name:
                <input type="text">
            </label>
            <button>Search</button>
        </form>
        <form action="" id="search-forms">
            <label>Form's name:
                <input type="text">
            </label>
            <label>Version:
                <input type="number" min=0>
            </label>
            <button>Search</button>
        </form>
        <form action="" id="form-admin"></form>
        <form action="" id="form-forms"></form>
    </main>
    <script src="index.js"></script>
</body>

</html>